body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: #111;
    color: white;
}

.container {
    margin-top: 100px;
}

#clock {
    font-size: 50px;
    margin: 20px;
    color: #00ffcc;
}

#countdown {
    font-size: 30px;
    color: yellow;
}
